    <h1> Hello</h1> 
    <h3> Please enter your name to share you idea </h3> 
    <form> 
     <input type="text"  name="name" ng-model="new_user2.name">
    <a href="#dashboard">
    <input type="submit" value="Enter" ng-click="addUser()" >
 	</a>
    </form> 


