
<a href="#/dashboard">Dashboard</a> 

<a href="#">Logoff</a> 

<br> 
 <h1> Hello {{ users2.name}}  {{ users2._id}} !</h1> 

<h2> {{posts.name }} posted a topic</h2> 

<h3> {{posts.topic}} </h3> 

<h3> {{posts.description}} </h3> 
   {{comments}}
<form>
<br>
<br>
Post your answer here.....
<br>
  <textarea  ng-model='new_post.post' name="post" rows="4" cols="50">
  </textarea> 
<br>
<br>
<input type="submit" value="Post Message!" ng-click="addPost()">
</form> 


  <ul ng-repeat="x in posts.post">
      {{x.name}}  {{x._id}} {{x.post}} {{x.user_id}} 
      <br>
      <form>
          <textarea  ng-model='new_comment.comment' name="comment" rows="4" cols="50">
      </textarea> 
        <input type="hidden" name="name" ng-model='new_comment.name' value='{{users2.name}}'>
        <input type="hidden" name="userId" ng-model='new_comment.userId' value='{{users2._id}}'>
        <input type="hidden" name="postId" ng-model='new_comment.postId' value='{{x._id}}'>
        <input type="hidden" name="topicId" ng-model='new_comment.topicId' value='{{x._topicId}}'>
      <br>
      <input type="submit" value="Post Comment!" ng-click="addComment()" >
      </form>
  </ul>

    
</table> 



