 <a href="#/dashboard">Dashboard</a> 

 <a href="#">Logoff</a> 

<h1> Username: {{ userResult.name}} </h1> 

<h1> Posted.... </h1> 

<h3> {{userResult.topic.length}} Topic(s) </h3> 

<h3> {{userResult.post.length}} Post(s)</h3> 

<h3> {{userResult.comment.length}} Comment(s)</h3> 


